Repository openebs/openebs, pull requests merged in 2019-05, with the labels that each got.

#2552 fix(upgrade): removes openebs system namespace hardcoding in 0.8.0-0.8.1 script
  k8s/upgrades/0.8.0-0.8.1/cstor_volume_upgrade.sh
Labels: area/upgrade, kind/bug

#2572 Chore(operator): add backup and restore apis in clusterroles
  k8s/openebs-operator.yaml
Labels: type: NeedsUpgrade, type: RBAC, type: Schema

#2569 feat(cstor-upgrade): add upgrade runtask for cStor 0.8.2 to 0.9.0
  k8s/sample-pv-yamls/cspc/cspc-sparse-single.yaml
  k8s/sample-pv-yamls/cspc/pvc-sparse-claim-cstor.yaml
  k8s/upgrades/0.8.1-0.8.2/patch-strategy-recreate.json
  k8s/upgrades/0.8.2-0.9.0/cstor/cr.yaml
  k8s/upgrades/0.8.2-0.9.0/cstor/cstor-pool-update-082-090.yaml
  k8s/upgrades/0.8.2-0.9.0/cstor/cstor-volume-update-082-090.yaml
  k8s/upgrades/0.8.2-0.9.0/cstor/pool-upgrade-job.yaml
  k8s/upgrades/0.8.2-0.9.0/cstor/rbac.yaml
  k8s/upgrades/0.8.2-0.9.0/cstor/steps.md
  k8s/upgrades/0.8.2-0.9.0/cstor/volume-upgrade-job.yaml
Labels: component: Upgrade

#2568 feat(upgrade, jiva): add runtasks and job to upgrade jiva volumes from 0.8.2 to 0.9.0
  k8s/upgrades/0.8.2-0.9.0/jiva/jiva_upgrade_runtask.yaml
  k8s/upgrades/0.8.2-0.9.0/jiva/rbac.yaml
  k8s/upgrades/0.8.2-0.9.0/jiva/upgrade-job.yaml
  k8s/upgrades/0.8.2-0.9.0/jiva/volume-upgrade-job.yaml
Labels: component: Upgrade

#2574 doc(upgrade): add README.md with steps to perform upgrade on jiva volumes
  k8s/upgrades/0.8.2-0.9.0/README.md
Labels: component: Upgrade

#2582 fix(upgrade,cstorvolume): use cas-type labels instead of annotation
  k8s/upgrades/0.8.2-0.9.0/cstor/cstor-pool-update-082-090.yaml
  k8s/upgrades/0.8.2-0.9.0/cstor/cstor-volume-update-082-090.yaml
Labels: component: Upgrade

#2583 feat(upgrade): adds support to patch volumesnapshotdata
  k8s/upgrades/0.8.2-0.9.0/cstor/cstor-volume-update-082-090.yaml
  k8s/upgrades/0.8.2-0.9.0/jiva/jiva_upgrade_runtask.yaml
Labels: component: Upgrade

#2588 feat(precheck, upgrade): added precheck to upgrade jiva and cstor volumes from 0.8.2 to 0.9.0
  k8s/upgrades/0.8.2-0.9.0/README.md
  k8s/upgrades/0.8.2-0.9.0/cstor/cstor-pool-update-082-090.yaml
  k8s/upgrades/0.8.2-0.9.0/cstor/cstor-volume-update-082-090.yaml
  k8s/upgrades/0.8.2-0.9.0/jiva/jiva_upgrade_runtask.yaml
Labels: component: Upgrade

#2589 Chore(upgrade): bump upgrade target version to 0.9.0
  k8s/upgrades/0.8.2-0.9.0/cstor/cstor-pool-update-082-090.yaml
  k8s/upgrades/0.8.2-0.9.0/cstor/cstor-volume-update-082-090.yaml
  k8s/upgrades/0.8.2-0.9.0/cstor/pool-upgrade-job.yaml
  k8s/upgrades/0.8.2-0.9.0/cstor/volume-upgrade-job.yaml
  k8s/upgrades/0.8.2-0.9.0/jiva/jiva_upgrade_runtask.yaml
  k8s/upgrades/0.8.2-0.9.0/jiva/volume-upgrade-job.yaml
Labels: component: Upgrade

#2593 fix(cstor-pool, upgrade): ignoring pre-check for pool due to missing labels in 0.8.2
  k8s/upgrades/0.8.2-0.9.0/cstor/cstor-pool-update-082-090.yaml
Labels: component: Upgrade, kind/bug
