Repository openebs/openebs, pull requests merged in 2019-06, with the labels that each got.

#2623 feat(autoprovisioning, blockdevice): add support to create cStor pools on sparse block device
  k8s/sample-pv-yamls/spc-sparse-single.yaml
Labels: documentation

#2616 process(OEP): introduce openebs enhancement proposal
  contribute/process/oep-process.md
  contribute/process/oep-template.md
Labels: type: OEP

#2625 feat(0.9.0-0.1.0 upgrade): adds a support to claim all block devices used by cStor pools
  k8s/upgrades/0.9.0-1.0.0/bdc-create.tpl.json
  k8s/upgrades/0.9.0-1.0.0/blockdeviceclaim_crd.yaml
  k8s/upgrades/0.9.0-1.0.0/claim_blockdevices.sh
  k8s/upgrades/0.9.0-1.0.0/deploy-patch.json
  k8s/upgrades/0.9.0-1.0.0/spc-patch.tpl.json
Labels: component: Upgrade

#2597 (feat, pool-upgrade): add upgrade script for cStor 0.9.0 to 0.1.0
  k8s/upgrades/0.9.0-1.0.0/claim_blockdevices.sh
  k8s/upgrades/0.9.0-1.0.0/csp-patch.tpl.json
  k8s/upgrades/0.9.0-1.0.0/cstor-pool-patch.tpl.json
  k8s/upgrades/0.9.0-1.0.0/cstor-target-patch.tpl.json
  k8s/upgrades/0.9.0-1.0.0/cstor-target-svc-patch.tpl.json
  k8s/upgrades/0.9.0-1.0.0/cstor-volume-patch.tpl.json
  k8s/upgrades/0.9.0-1.0.0/cstor-volume-replica-patch.tpl.json
  k8s/upgrades/0.9.0-1.0.0/cstor_pool_upgrade.sh
  k8s/upgrades/0.9.0-1.0.0/cstor_volume_upgrade.sh
  k8s/upgrades/0.9.0-1.0.0/spc-patch.tpl.json
  k8s/upgrades/0.9.0-1.0.0/stop-reconcile-patch.json
Labels: component: Upgrade

#2617 oep(csi provisioning): add proposal for csi based volume provisioning
  contribute/design/1.x/csi/20190606-csi-volume-provisioning.md
Labels: type: OEP

#2650 feat(csi): change creation to cv/cvr to mount operation
  contribute/design/1.x/csi/20190606-csi-volume-provisioning.md
Labels: type: OEP
