Repository openebs/openebs, pull requests merged in 2020-01, with the labels that each got.

#2868 refact(cstor-operator): add cvc deployement into the cstor-operator
  k8s/cstor-operator.yaml
Labels: component: CSI, cstor

#2887 oep(cStor PDB): add supoort to create PDB for cStor pool pods
  contribute/design/1.x/cstor/pdb/20200113-cstor-poddisruptionbudget.md
Labels: cstor, release-note

#2892 chore(travis): add overprovisioning artifacts and test case for travis
  k8s/ci/overprovisioning/cstor-sc-overprovisioning-disabled.yaml
  k8s/ci/overprovisioning/overprovisioning-disabled-sparse-pool.yaml
  k8s/ci/overprovisioning/patch.yaml
  k8s/ci/overprovisioning/pvc10g.yaml
  k8s/ci/overprovisioning/pvc1g.yaml
  k8s/ci/test-script.sh
Labels: type: Travis
